body {
  background: linear-gradient(135deg, white 40%, #b3b4b3); 
  color: #484848;
  font-family: 'Khula', sans-serif;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


h1 { 
  margin: 1.5em 0 .7em; 
  text-align: center;
}

h3 { 
  margin: 1.5em 0 .7em; 
  text-align: center;
}

input,
button {
  
  margin-top: 1em; 
  padding: .65em 1em;
  border-radius: .3em;
  height: 80px; 
}

button:active {  
  background-color: lavender;
}

button:focus {
  color: #2b6024;
  border-color: #2b6024;
  border: solid 2px;
  background-color: lavender;
}

input {
  border: 1px solid grey;
  width: 200px;  
}
 
.input-group-addon{
  height: 80px;
  margin-top: 1em;
}

.numberColor {
  color: #0000da;  
}